<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tube2Gif - Search And Generate Gif</title>



    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

    <!--Icon Fonts-->
    <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css" />


    <!-- Extras -->



    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style>
        .gif {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }
        .search {
            padding: 20px;
        }
        .login {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }
    </style>

</head>

<body data-spy="scroll" data-offset="20" data-target="#navbar">
    <!-- Nav Menu Section -->
    <div class="logo-menu">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-md-3">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="/"><i class="fa fa-youtube-play"></i> Tube2Gif</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav col-md-9 pull-right">
                        <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <h3> Some Error occured!</h3>
            </div>
        </div>
    </section>
    <!-- Copyright Section End-->

    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Smooth Scroll -->
    <!-- Smooth Scroll -->
    <script src="assets/js/smooth-scroll.js"></script>
    <script src="assets/js/lightbox.min.js"></script>

    <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>



</body>

</html>
