    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tube2Gif - Search And Generate Gif</title>

        

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">

        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

        <!--Icon Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css" />


        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/lightbox.css">


        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

    <body data-spy="scroll" data-offset="20" data-target="#navbar">
    <!-- Nav Menu Section -->
    <div class="logo-menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home"><i class="fa fa-youtube-play"></i> Tube2Gif</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="nav navbar-nav col-md-9 pull-right">
                            <li class="active"><a href="#hero-area"><i class="fa fa-home"></i> Home</a></li>
                            </ul>
        </div>
      </div>
    </nav>
    </div>
<!-- Nav Menu Section End -->


<!-- Portfolio Section -->

    <section id="portfolio">
    <div class="container">
    <div class="row">
    <h1 class="title">Search</h1>



    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="portfolio-item wow fadeInLeft" data-wow-delay=".5s">
    <a href="#"><img src="assets/img/portfolio/img1.jpg" alt=""></a>
    <div class="overlay">
    <div class="icons">
    <a data-lightbox="image1" href="assets/img/portfolio/img1.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
    </div>
    </div>
    </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="portfolio-item wow fadeInLeft" data-wow-delay=".7s">
    <a href="#"><img src="assets/img/portfolio/img2.jpg" alt=""></a>
    <div class="overlay">
    <div class="icons">
    <a data-lightbox="image1" href="assets/img/portfolio/img2.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="portfolio-item wow fadeInLeft" data-wow-delay=".9s">
    <a href="#"><img src="assets/img/portfolio/img3.jpg" alt=""></a>
    <div class="overlay">
    <div class="icons">
    <a data-lightbox="image1" href="assets/img/portfolio/img3.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1.1s">
    <div class="portfolio-item">
    <a href="#"><img src="assets/img/portfolio/img4.jpg" alt=""></a>
    <div class="overlay">
    <div class="icons">
    <a data-lightbox="image1" href="assets/img/portfolio/img4.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1.3s">
    <div class="portfolio-item">
    <a href="#"><img src="assets/img/portfolio/img5.jpg" alt=""></a>
    <div class="overlay">
    <div class="icons">
    <a data-lightbox="image1" href="assets/img/portfolio/img5.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1.5s">
    <div class="portfolio-item">
    <a href="#"><img src="assets/img/portfolio/img6.jpg" alt=""></a>
    <div class="overlay">
    <div class="icons">
    <a data-lightbox="image1" href="assets/img/portfolio/img6.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
    </div>
    </div>
    </div>
    </div>
      
    </div>
    </div>
    </section>
<!-- Portfolio Section End -->



<!-- Copyright Section End-->

        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>

            <!-- Smooth Scroll -->
                    <!-- Smooth Scroll -->
        <script src="assets/js/smooth-scroll.js"></script>
        <script src="assets/js/lightbox.min.js"></script>

        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>



    </body>
    </html>